{% extends "flatpages/default.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<button> <a href="news/">перейти к новостям</a> </button>
<div> Здесь может содержаться персональная информация для каждого пользователя. /
Вы можете перейти на сайт с публикациями. если вы хотите писать статьи и новости на сайте, то вам нужно стать автором. Для этого нажмите на кнопку ниже </div>

<button> <a href="sign/logout/">Выйти</a> </button>

{% if is_not_authors %}
<button> <a href="sign/upgrade/"> Хочу стать автором!</a> </button>
{% endif %}

{% endblock %}