<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi <strong>{{ subscriber_user.username }}</strong>,</title>

      {{ date|date:'d F Y' }} - это получения даты
      <b>Welcome to News Portal!</b>
    <br>
      <p>В категории:
        <strong>{{ category_name }}</strong> есть новый пост от:
        <strong>"{{ subscriber_user }}"</strong>.
        <q>{{ posts|truncatechars:50 }}</q>
        </p>
      <p><strong>Чтобы узнать больше нажмите кнопку</strong></p>
<a href="http://{{ port }}/news/{{ pk_id }}">Читать далее</a>